<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--<add key="ServerURI" value="http://server2.externalservice.org" />-->
    <!--<add key="ThreadSet" value="9000" />-->
    <add key="BioMatcher.CacheSize" value="25000" />
    <add key="BioMatcher.BenchmarkMode" value="0" />
    <add key="BioMatcher.SdkPath" value="BioMatcher.Griaule" />
    <add key="BioMatcher.SdkType" value="BioMatcher.Griaule.FingerprintMatcher" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=ExternalServiceDB;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FingerPrintSoap" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <!--<binding name="FingerPrintSoap1" />-->
      </basicHttpBinding>
      <!--<customBinding>
        <binding name="FingerPrintSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>-->
    </bindings>
    <client>
      <endpoint address="https://service.externalservice.org/webservices/fingerprint.asmx"
                binding="basicHttpBinding" bindingConfiguration="FingerPrintSoap"
                contract="FingerPrintServiceReference.FingerPrintSoap" name="FingerPrintSoap" />
      <!--<endpoint address="https://service.externalservice.org/webservices/fingerprint.asmx"
          binding="customBinding" bindingConfiguration="FingerPrintSoap12"
          contract="FingerprintService.FingerPrintSoap" name="FingerPrintSoap12" />-->
    </client>
  </system.serviceModel>
</configuration>