<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="BioMatcher.CacheSize" value="25000" />
    <add key="BioMatcher.BenchmarkMode" value="0" />
    <add key="BioMatcher.SdkPath" value="BioMatcher.Griaule" />
    <add key="BioMatcher.SdkType" value="BioMatcher.Griaule.FingerprintMatcher" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="FingerPrintSoap" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <!--<binding name="FingerPrintSoap1" />-->
      </basicHttpBinding>
      <!--<customBinding>
        <binding name="FingerPrintSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>-->
    </bindings>
    <client>
      <endpoint address="https://service.externalservice.org/webservices/fingerprint.asmx"
                binding="basicHttpBinding" bindingConfiguration="FingerPrintSoap"
                contract="FingerPrintServiceReference.FingerPrintSoap" name="FingerPrintSoap" />
      <!--<endpoint address="https://service.externalservice.org/webservices/fingerprint.asmx"
          binding="customBinding" bindingConfiguration="FingerPrintSoap12"
          contract="FingerprintService.FingerPrintSoap" name="FingerPrintSoap12" />-->
    </client>
  </system.serviceModel>
</configuration>